---

---

<div id="container">
	<main>
		<section id="hero">
			<h1>Search Engine Dorking</h1>
			<label for="domain">Enter Target Domain:</label>
			<input
				id="domainInput"
				type="text"
				placeholder="example.com"
				value="example.com"
			/>
		</section>
		<section>
			<h3>Search Engine Dorking:</h3>
			<ul>
				<li>
					Subdomains - <code id="subdomains">site:*.example.com</code>
				</li>
				<li>
					Indexed Pages - <code id="indexed">site:example.com</code>
				</li>
				<li>
					Exposed Files - <code id="files"
						>site:example.com ext:pdf OR ext:doc</code
					>
				</li>
				<li>
					Login Pages - <code id="login"
						>inurl:login site:example.com</code
					>
				</li>
				<li>
					Open Directories - <code id="directories"
						>intitle:"index of /" site:example.com</code
					>
				</li>
			</ul>
		</section>
	</main>
</div>
